<a
  class="inline-flex flex-row justify-center items-center px-5 py-2.5 text-center text-white cursor-pointer font-medium rounded-lg mr-2 mb-2 transition-all duration-200 ease-in-out scale-90 gap-x-2 opacity-70 hover:bg-slate-700 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 dark:focus:ring-[#1da1f2]/55 hover:scale-110 hover:opacity-100"
>
  <slot name="before" />
  <slot />
  <slot name="after" />
</a>
